index.php
assets/
.vscode/*
vendor/
.env
.idea/
.DS_Store
node_modules/
*.log
*.cache
*.tmp
*.bak
*.swp
*.zip
*.tar.gz
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.class
*.jar
*.war
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
*.orig
*.rej
*.patch
*.pid
*.seed 